doc/proposal/*.log
doc/proposal/*.aux
doc/proposal/*.bbl
doc/proposal/*.blg
doc/proposal/*.out
doc/proposal/*.pdf
doc/proposal/*.sh
doc/midterm/*.log
doc/midterm/*.aux
doc/midterm/*.bbl
doc/midterm/*.blg
doc/midterm/*.out
doc/midterm/*.pdf
doc/midterm/*.sh
doc/midterm/*.png
doc/midterm/*.jpg
doc/midterm/*.snm
doc/midterm/*.toc
doc/midterm/*.nav
