body {
    margin: 0px;
    overflow: hidden;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    right:2rem;
    display: inline;
    top:auto;
}
.scrollable-menu {
    overflow: hidden;
}
.scrollable-menu:hover {
    overflow-y: scroll;
}

.panel-transparent {
    /*background: none;*/
}

.panel-transparent .panel-body{
    /*background: rgba(255,255,255, 0.5)!important;*/
}

.list-group-transparent{
    /*background: none;*/
}

.list-group-transparent .list-group-item{
    /*background: rgba(255,255,255, 0.5)!important;*/
}

.marker {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFFFF;
    position:absolute;
}

.markerchild {
    position: relative;
    left: -50%;
    background: rgba(1,1,1,0.9);
    padding: 4px;
    border-radius: 10px;
    cursor:pointer;
}

.loading {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    margin-bottom:1rem;
}
